In [4]:
import os
import glob
import datetime as dt
import numpy as np
import pandas as pd
import pandas_ta as ta
import yfinance as yf
yf.pdr_override() # <== that's all it takes :-)

from concurrent import futures
from dateutil.relativedelta import relativedelta
from pandas_datareader import data as pdr
from scipy.stats import gaussian_kde
# from talib import BBANDS, RSI, ICHIMOKU

import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
import plotly.graph_objects as go

""" datetime util """
now = dt.datetime.now()
lastday = now + relativedelta(months=0, days=-1)
firstday_of_this_month = dt.datetime(now.year, now.month, 1)
lastday_of_this_month = dt.datetime(now.year, now.month, 1) + relativedelta(months=1, days=-1)
firstday_of_last_month = dt.datetime(now.year, now.month, 1) + relativedelta(months=-1, days=0)
lastday_of_last_month = dt.datetime(now.year, now.month, 1) + relativedelta(months=0, days=-1)

#import plotly.tools as tls
#import plotly.io as pio
#import plotly.graph_objs as go
#from plotly.offline import download_plotlyjs, init_notebook_mode, iplot, plot

def last_working_day(given_date):
    while True:
        given_date -= dt.timedelta(days=1)
        if given_date.weekday() not in [5,6]:
            return given_date
        
""" set the download window """
start_date = "2017-01-01"
end_date = last_working_day(now).strftime('%Y-%m-%d')

""" set output directory """
data_dir = "./data/txn"
report_dir = "./report"
os.makedirs(data_dir, exist_ok=True)

In [5]:
# Load data
def loadTxnData(symbol, end_date):
    df = pd.DataFrame() # Empty DataFrame
    filename = f'./data/txn/{end_date}_{symbol}.csv'
    print(filename)
    if not os.path.exists(filename):
        df = pdr.get_data_yahoo(symbol)

        # Add new "name" column
        df.insert(0,'name',symbol)

        # Replace "datetime" with the appropriate column from your DataFrame
        df.rename(columns={"Date": "datetime", "Open": "open", "High": "high", "Low": "low", "Close": "close" , "Adj Close": "adj_close", "Volume": "volume" }, inplace=True) 
        df.index.names = ["datetime"]

        df.to_csv(filename)
    else:
        df = pd.read_csv(filename)

        # Replace "datetime" with the appropriate column from your DataFrame
        #df.rename(columns={"Date": "datetime", "Open": "open", "High": "high", "Low": "low", "Close": "close" , "Adj Close": "adj_close", "Volume": "volume" }, inplace=True)

        # VWAP requires the DataFrame index to be a DatetimeIndex.
        df.set_index(pd.DatetimeIndex(df["datetime"]), inplace=True)    
        del df['datetime']
    return df

In [7]:
# temp
# end_date="2023-01-27"

symbols = list(pd.read_csv(f"{report_dir}/most_attractives_{end_date}.csv")["stock"])


for symbol in symbols:
    df = loadTxnData(symbol, end_date)
    print(df.head(5))
    
# report_dir = "./report"
# filename = f"{report_dir}/most_attractives_{end_date}.csv"

# """ Load from CSV """
# df = pd.read_csv(filename)
# symbols = df["stock"].tolist()
# print(symbols)

./data/txn/2023-01-27_BKNG.csv
[*********************100%***********************]  1 of 1 completed
                           name    open     high    low   close  adj_close  \
datetime
1999-03-31 00:00:00-05:00  BKNG  451.50  517.500  438.0  497.25     497.25
1999-04-01 00:00:00-05:00  BKNG  550.50  552.000  475.5  483.00     483.00
1999-04-05 00:00:00-04:00  BKNG  501.00  504.000  435.0  450.75     450.75
1999-04-06 00:00:00-04:00  BKNG  452.25  484.125  420.0  474.00     474.00
1999-04-07 00:00:00-04:00  BKNG  480.75  487.500  442.5  447.00     447.00

                            volume
datetime
1999-03-31 00:00:00-05:00  1322933
1999-04-01 00:00:00-05:00   483233
1999-04-05 00:00:00-04:00   324917
1999-04-06 00:00:00-04:00   353900
1999-04-07 00:00:00-04:00   156617
./data/txn/2023-01-27_CAT.csv
[*********************100%***********************]  1 of 1 completed
                          name      open      high       low     close  \
datetime
1962-01-02 00:00:00-05:00  CAT  1.604167  1.619792  1.588542  1.604167
1962-01-03 00:00:00-05:00  CAT  1.604167  1.619792  1.588542  1.619792
1962-01-04 00:00:00-05:00  CAT  1.656250  1.708333  1.656250  1.661458
1962-01-05 00:00:00-05:00  CAT  1.661458  1.697917  1.656250  1.677083
1962-01-08 00:00:00-05:00  CAT  1.677083  1.703125  1.666667  1.687500

                           adj_close  volume
datetime
1962-01-02 00:00:00-05:00   0.486351  163200
1962-01-03 00:00:00-05:00   0.491088  156000
1962-01-04 00:00:00-05:00   0.503721  355200
1962-01-05 00:00:00-05:00   0.508458  163200
1962-01-08 00:00:00-05:00   0.511616  204000
./data/txn/2023-01-27_DOW.csv
[*********************100%***********************]  1 of 1 completed
                          name       open       high        low      close  \
datetime
2019-03-20 00:00:00-04:00  DOW  52.750000  53.500000  49.500000  49.799999
2019-03-21 00:00:00-04:00  DOW  49.990002  50.000000  48.200001  48.980000
2019-03-22 00:00:00-04:00  DOW  48.799999  49.950001  48.160000  48.599998
2019-03-25 00:00:00-04:00  DOW  48.599998  49.400002  48.000000  49.150002
2019-03-26 00:00:00-04:00  DOW  49.000000  49.750000  48.180000  48.849998

                           adj_close   volume
datetime
2019-03-20 00:00:00-04:00  40.797012  2350800
2019-03-21 00:00:00-04:00  40.125259  1764700
2019-03-22 00:00:00-04:00  39.813953   844700
2019-03-25 00:00:00-04:00  40.264519   440900
2019-03-26 00:00:00-04:00  40.018753   504700
./data/txn/2023-01-27_HAL.csv
[*********************100%***********************]  1 of 1 completed
                          name      open      high       low     close  \
datetime
1972-06-01 00:00:00-04:00  HAL  0.000000  3.946057  3.891458  3.946057
1972-06-02 00:00:00-04:00  HAL  3.946057  4.020511  3.921239  3.975839
1972-06-05 00:00:00-04:00  HAL  3.951021  3.951021  3.812040  3.821967
1972-06-06 00:00:00-04:00  HAL  3.821967  3.851749  3.802113  3.812040
1972-06-07 00:00:00-04:00  HAL  3.812040  3.821967  3.792186  3.797149

                           adj_close  volume
datetime
1972-06-01 00:00:00-04:00   1.344531  158655
1972-06-02 00:00:00-04:00   1.354678  705134
1972-06-05 00:00:00-04:00   1.305680  284572
1972-06-06 00:00:00-04:00   1.302288  203985
1972-06-07 00:00:00-04:00   1.297201   85623
./data/txn/2023-01-27_MPC.csv
[*********************100%***********************]  1 of 1 completed
                          name       open       high     low      close  \
datetime
2011-06-24 00:00:00-04:00  MPC  19.375000  19.575001  18.420  18.625000
2011-06-27 00:00:00-04:00  MPC  18.344999  18.975000  18.295  18.825001
2011-06-28 00:00:00-04:00  MPC  19.170000  19.995001  18.850  19.350000
2011-06-29 00:00:00-04:00  MPC  19.500000  20.485001  19.350  20.035000
2011-06-30 00:00:00-04:00  MPC  20.334999  21.000000  20.090  20.700001

                           adj_close   volume
datetime
2011-06-24 00:00:00-04:00  13.120163  1675400
2011-06-27 00:00:00-04:00  13.261049   895200
2011-06-28 00:00:00-04:00  13.630881  4151800
2011-06-29 00:00:00-04:00  14.113420  3695200
2011-06-30 00:00:00-04:00  14.581871  3025600
./data/txn/2023-01-27_AVGO.csv
[*********************100%***********************]  1 of 1 completed
                           name       open       high        low  close  \
datetime
2009-08-06 00:00:00-04:00  AVGO  16.500000  16.910000  15.560000  16.18
2009-08-07 00:00:00-04:00  AVGO  16.150000  16.760000  16.030001  16.43
2009-08-10 00:00:00-04:00  AVGO  16.629999  16.629999  15.610000  15.97
2009-08-11 00:00:00-04:00  AVGO  15.980000  16.000000  15.500000  15.67
2009-08-12 00:00:00-04:00  AVGO  16.150000  16.200001  15.660000  16.00

                           adj_close    volume
datetime
2009-08-06 00:00:00-04:00  11.920926  24197800
2009-08-07 00:00:00-04:00  12.105116   2454300
2009-08-10 00:00:00-04:00  11.766203   2421000
2009-08-11 00:00:00-04:00  11.545170   2305400
2009-08-12 00:00:00-04:00  11.788304   1451300
./data/txn/2023-01-27_MAR.csv
[*********************100%***********************]  1 of 1 completed
                          name       open       high        low      close  \
datetime
1998-03-23 00:00:00-05:00  MAR  16.779877  16.779877  16.779877  16.779877
1998-03-24 00:00:00-05:00  MAR  17.012930  17.420774  17.012930  17.420774
1998-03-25 00:00:00-05:00  MAR  17.653830  17.682961  17.479038  17.682961
1998-03-26 00:00:00-05:00  MAR  17.566433  17.595566  17.391644  17.595566
1998-03-27 00:00:00-05:00  MAR  17.537302  17.537302  16.954666  17.187721

                           adj_close  volume
datetime
1998-03-23 00:00:00-05:00  13.423117    1073
1998-03-24 00:00:00-05:00  13.935799  116711
1998-03-25 00:00:00-05:00  14.145538   27891
1998-03-26 00:00:00-05:00  14.075626   76163
1998-03-27 00:00:00-05:00  13.749366  847444
./data/txn/2023-01-27_OGN.csv
[*********************100%***********************]  1 of 1 completed
                          name   open       high    low      close  adj_close  \
datetime
2021-05-14 00:00:00-04:00  OGN  31.00  33.250000  31.00  33.250000  31.510010
2021-05-17 00:00:00-04:00  OGN  34.00  35.000000  34.00  34.099998  32.315525
2021-05-18 00:00:00-04:00  OGN  34.48  38.421001  34.48  37.500000  35.537598
2021-05-19 00:00:00-04:00  OGN  37.00  37.750000  37.00  37.500000  35.537598
2021-05-20 00:00:00-04:00  OGN  37.50  37.750000  37.50  37.750000  35.774517

                           volume
datetime
2021-05-14 00:00:00-04:00  342900
2021-05-17 00:00:00-04:00   31500
2021-05-18 00:00:00-04:00   48900
2021-05-19 00:00:00-04:00   43900
2021-05-20 00:00:00-04:00   22900
./data/txn/2023-01-27_HLT.csv
[*********************100%***********************]  1 of 1 completed
                          name       open       high        low      close  \
datetime
2013-12-12 00:00:00-05:00  HLT  43.707600  44.979839  43.605000  44.118000
2013-12-13 00:00:00-05:00  HLT  45.123482  45.923759  44.220600  45.349201
2013-12-16 00:00:00-05:00  HLT  47.360161  52.839001  44.159039  44.159039
2013-12-17 00:00:00-05:00  HLT  44.343719  45.123482  44.282162  44.754120
2013-12-18 00:00:00-05:00  HLT  44.795158  45.513359  44.446320  44.795158

                           adj_close    volume
datetime
2013-12-12 00:00:00-05:00  42.100243  12935478
2013-12-13 00:00:00-05:00  43.275124   1224854
2013-12-16 00:00:00-05:00  42.139404   4717690
2013-12-17 00:00:00-05:00  42.707260   2313840
2013-12-18 00:00:00-05:00  42.746422   2857846
./data/txn/2023-01-27_JBHT.csv
[*********************100%***********************]  1 of 1 completed
                           name  open      high       low     close  \
datetime
1983-11-22 00:00:00-05:00  JBHT   0.0  1.583333  1.541667  1.541667
1983-11-23 00:00:00-05:00  JBHT   0.0  1.604167  1.562500  1.562500
1983-11-25 00:00:00-05:00  JBHT   0.0  1.645833  1.625000  1.625000
1983-11-28 00:00:00-05:00  JBHT   0.0  1.562500  1.520833  1.520833
1983-11-29 00:00:00-05:00  JBHT   0.0  1.583333  1.562500  1.562500

                           adj_close   volume
datetime
1983-11-22 00:00:00-05:00   1.099059  5736000
1983-11-23 00:00:00-05:00   1.113911  2424000
1983-11-25 00:00:00-05:00   1.158467   741600
1983-11-28 00:00:00-05:00   1.084206  1251600
1983-11-29 00:00:00-05:00   1.113911  1209600
./data/txn/2023-01-27_FANG.csv
[*********************100%***********************]  1 of 1 completed
                           name       open       high    low      close  \
datetime
2012-10-12 00:00:00-04:00  FANG  17.820000  18.280001  17.50  17.500000
2012-10-15 00:00:00-04:00  FANG  17.549999  17.830000  17.50  17.750000
2012-10-16 00:00:00-04:00  FANG  17.570000  17.950001  17.25  17.790001
2012-10-17 00:00:00-04:00  FANG  17.700001  18.070000  17.50  17.700001
2012-10-18 00:00:00-04:00  FANG  17.600000  17.870001  17.52  17.700001

                           adj_close   volume
datetime
2012-10-12 00:00:00-04:00  15.341787  6467100
2012-10-15 00:00:00-04:00  15.560958   633100
2012-10-16 00:00:00-04:00  15.596025   180300
2012-10-17 00:00:00-04:00  15.517123   121000
2012-10-18 00:00:00-04:00  15.517123   146100
./data/txn/2023-01-27_COP.csv
[*********************100%***********************]  1 of 1 completed
                          name      open      high       low     close  \
datetime
1981-12-31 00:00:00-05:00  COP  5.161518  5.256808  5.129755  5.145637
1982-01-04 00:00:00-05:00  COP  5.097992  5.129755  5.050347  5.066229
1982-01-05 00:00:00-05:00  COP  4.939176  5.034466  4.843886  4.875650
1982-01-06 00:00:00-05:00  COP  4.843886  5.002702  4.685071  4.780360
1982-01-07 00:00:00-05:00  COP  4.732715  4.780360  4.685071  4.732715

                           adj_close   volume
datetime
1981-12-31 00:00:00-05:00   1.092958  1420670
1982-01-04 00:00:00-05:00   1.076092  2069219
1982-01-05 00:00:00-05:00   1.035612  4173857
1982-01-06 00:00:00-05:00   1.015371  3855878
1982-01-07 00:00:00-05:00   1.005251  1511183
./data/txn/2023-01-27_DE.csv
[*********************100%***********************]  1 of 1 completed
                          name      open      high       low     close  \
datetime
1972-06-01 00:00:00-04:00   DE  0.000000  2.682292  2.645833  2.677083
1972-06-02 00:00:00-04:00   DE  2.677083  2.734375  2.677083  2.729167
1972-06-05 00:00:00-04:00   DE  2.723958  2.723958  2.687500  2.718750
1972-06-06 00:00:00-04:00   DE  2.718750  2.729167  2.687500  2.692708
1972-06-07 00:00:00-04:00   DE  2.677083  2.677083  2.656250  2.661458

                           adj_close  volume
datetime
1972-06-01 00:00:00-04:00   0.678661  552000
1972-06-02 00:00:00-04:00   0.691865  396000
1972-06-05 00:00:00-04:00   0.689224  242400
1972-06-06 00:00:00-04:00   0.682622  448800
1972-06-07 00:00:00-04:00   0.674701  578400
./data/txn/2023-01-27_EOG.csv
[*********************100%***********************]  1 of 1 completed
                          name      open      high       low     close  \
datetime
1989-10-04 00:00:00-04:00  EOG  2.468750  2.546875  2.437500  2.500000
1989-10-05 00:00:00-04:00  EOG  2.515625  2.625000  2.500000  2.578125
1989-10-06 00:00:00-04:00  EOG  2.593750  2.625000  2.546875  2.546875
1989-10-09 00:00:00-04:00  EOG  2.546875  2.546875  2.500000  2.546875
1989-10-10 00:00:00-04:00  EOG  2.562500  2.562500  2.500000  2.531250

                           adj_close    volume
datetime
1989-10-04 00:00:00-04:00   1.758252  20636000
1989-10-05 00:00:00-04:00   1.813197   6453600
1989-10-06 00:00:00-04:00   1.791220   2755200
1989-10-09 00:00:00-04:00   1.791220   1084000
1989-10-10 00:00:00-04:00   1.780230   1493600
./data/txn/2023-01-27_PSA.csv
[*********************100%***********************]  1 of 1 completed
                          name    open    high     low   close  adj_close  \
datetime
1980-11-18 00:00:00-05:00  PSA  14.125  14.500  14.125  14.125   2.517918
1980-11-19 00:00:00-05:00  PSA  14.250  14.625  14.250  14.250   2.540200
1980-11-20 00:00:00-05:00  PSA  14.250  14.250  14.125  14.125   2.517918
1980-11-21 00:00:00-05:00  PSA  14.625  14.875  14.625  14.625   2.607049
1980-11-24 00:00:00-05:00  PSA  14.500  14.500  14.125  14.125   2.517918

                           volume
datetime
1980-11-18 00:00:00-05:00    3200
1980-11-19 00:00:00-05:00    8000
1980-11-20 00:00:00-05:00   16600
1980-11-21 00:00:00-05:00   18700
1980-11-24 00:00:00-05:00   40900

In [9]:
for symbol in symbols:
    df = pd.read_csv(f"./data/txn/{end_date}_{symbol}.csv")
    print(df.head(5))

                    datetime  name    open     high    low   close  adj_close  \
0  1999-03-31 00:00:00-05:00  BKNG  451.50  517.500  438.0  497.25     497.25
1  1999-04-01 00:00:00-05:00  BKNG  550.50  552.000  475.5  483.00     483.00
2  1999-04-05 00:00:00-04:00  BKNG  501.00  504.000  435.0  450.75     450.75
3  1999-04-06 00:00:00-04:00  BKNG  452.25  484.125  420.0  474.00     474.00
4  1999-04-07 00:00:00-04:00  BKNG  480.75  487.500  442.5  447.00     447.00

    volume
0  1322933
1   483233
2   324917
3   353900
4   156617
                    datetime name      open      high       low     close  \
0  1962-01-02 00:00:00-05:00  CAT  1.604167  1.619792  1.588542  1.604167
1  1962-01-03 00:00:00-05:00  CAT  1.604167  1.619792  1.588542  1.619792
2  1962-01-04 00:00:00-05:00  CAT  1.656250  1.708333  1.656250  1.661458
3  1962-01-05 00:00:00-05:00  CAT  1.661458  1.697917  1.656250  1.677083
4  1962-01-08 00:00:00-05:00  CAT  1.677083  1.703125  1.666667  1.687500

   adj_close  volume
0   0.486351  163200
1   0.491088  156000
2   0.503721  355200
3   0.508458  163200
4   0.511616  204000
                    datetime name       open       high        low      close  \
0  2019-03-20 00:00:00-04:00  DOW  52.750000  53.500000  49.500000  49.799999
1  2019-03-21 00:00:00-04:00  DOW  49.990002  50.000000  48.200001  48.980000
2  2019-03-22 00:00:00-04:00  DOW  48.799999  49.950001  48.160000  48.599998
3  2019-03-25 00:00:00-04:00  DOW  48.599998  49.400002  48.000000  49.150002
4  2019-03-26 00:00:00-04:00  DOW  49.000000  49.750000  48.180000  48.849998

   adj_close   volume
0  40.797012  2350800
1  40.125259  1764700
2  39.813953   844700
3  40.264519   440900
4  40.018753   504700
                    datetime name      open      high       low     close  \
0  1972-06-01 00:00:00-04:00  HAL  0.000000  3.946057  3.891458  3.946057
1  1972-06-02 00:00:00-04:00  HAL  3.946057  4.020511  3.921239  3.975839
2  1972-06-05 00:00:00-04:00  HAL  3.951021  3.951021  3.812040  3.821967
3  1972-06-06 00:00:00-04:00  HAL  3.821967  3.851749  3.802113  3.812040
4  1972-06-07 00:00:00-04:00  HAL  3.812040  3.821967  3.792186  3.797149

   adj_close  volume
0   1.344531  158655
1   1.354678  705134
2   1.305680  284572
3   1.302288  203985
4   1.297201   85623
                    datetime name       open       high     low      close  \
0  2011-06-24 00:00:00-04:00  MPC  19.375000  19.575001  18.420  18.625000
1  2011-06-27 00:00:00-04:00  MPC  18.344999  18.975000  18.295  18.825001
2  2011-06-28 00:00:00-04:00  MPC  19.170000  19.995001  18.850  19.350000
3  2011-06-29 00:00:00-04:00  MPC  19.500000  20.485001  19.350  20.035000
4  2011-06-30 00:00:00-04:00  MPC  20.334999  21.000000  20.090  20.700001

   adj_close   volume
0  13.120163  1675400
1  13.261049   895200
2  13.630881  4151800
3  14.113420  3695200
4  14.581871  3025600
                    datetime  name       open       high        low  close  \
0  2009-08-06 00:00:00-04:00  AVGO  16.500000  16.910000  15.560000  16.18
1  2009-08-07 00:00:00-04:00  AVGO  16.150000  16.760000  16.030001  16.43
2  2009-08-10 00:00:00-04:00  AVGO  16.629999  16.629999  15.610000  15.97
3  2009-08-11 00:00:00-04:00  AVGO  15.980000  16.000000  15.500000  15.67
4  2009-08-12 00:00:00-04:00  AVGO  16.150000  16.200001  15.660000  16.00

   adj_close    volume
0  11.920926  24197800
1  12.105116   2454300
2  11.766203   2421000
3  11.545170   2305400
4  11.788304   1451300
                    datetime name       open       high        low      close  \
0  1998-03-23 00:00:00-05:00  MAR  16.779877  16.779877  16.779877  16.779877
1  1998-03-24 00:00:00-05:00  MAR  17.012930  17.420774  17.012930  17.420774
2  1998-03-25 00:00:00-05:00  MAR  17.653830  17.682961  17.479038  17.682961
3  1998-03-26 00:00:00-05:00  MAR  17.566433  17.595566  17.391644  17.595566
4  1998-03-27 00:00:00-05:00  MAR  17.537302  17.537302  16.954666  17.187721

   adj_close  volume
0  13.423117    1073
1  13.935799  116711
2  14.145538   27891
3  14.075626   76163
4  13.749366  847444
                    datetime name   open       high    low      close  \
0  2021-05-14 00:00:00-04:00  OGN  31.00  33.250000  31.00  33.250000
1  2021-05-17 00:00:00-04:00  OGN  34.00  35.000000  34.00  34.099998
2  2021-05-18 00:00:00-04:00  OGN  34.48  38.421001  34.48  37.500000
3  2021-05-19 00:00:00-04:00  OGN  37.00  37.750000  37.00  37.500000
4  2021-05-20 00:00:00-04:00  OGN  37.50  37.750000  37.50  37.750000

   adj_close  volume
0  31.510010  342900
1  32.315525   31500
2  35.537598   48900
3  35.537598   43900
4  35.774517   22900
                    datetime name       open       high        low      close  \
0  2013-12-12 00:00:00-05:00  HLT  43.707600  44.979839  43.605000  44.118000
1  2013-12-13 00:00:00-05:00  HLT  45.123482  45.923759  44.220600  45.349201
2  2013-12-16 00:00:00-05:00  HLT  47.360161  52.839001  44.159039  44.159039
3  2013-12-17 00:00:00-05:00  HLT  44.343719  45.123482  44.282162  44.754120
4  2013-12-18 00:00:00-05:00  HLT  44.795158  45.513359  44.446320  44.795158

   adj_close    volume
0  42.100243  12935478
1  43.275124   1224854
2  42.139404   4717690
3  42.707260   2313840
4  42.746422   2857846
                    datetime  name  open      high       low     close  \
0  1983-11-22 00:00:00-05:00  JBHT   0.0  1.583333  1.541667  1.541667
1  1983-11-23 00:00:00-05:00  JBHT   0.0  1.604167  1.562500  1.562500
2  1983-11-25 00:00:00-05:00  JBHT   0.0  1.645833  1.625000  1.625000
3  1983-11-28 00:00:00-05:00  JBHT   0.0  1.562500  1.520833  1.520833
4  1983-11-29 00:00:00-05:00  JBHT   0.0  1.583333  1.562500  1.562500

   adj_close   volume
0   1.099059  5736000
1   1.113911  2424000
2   1.158467   741600
3   1.084206  1251600
4   1.113911  1209600
                    datetime  name       open       high    low      close  \
0  2012-10-12 00:00:00-04:00  FANG  17.820000  18.280001  17.50  17.500000
1  2012-10-15 00:00:00-04:00  FANG  17.549999  17.830000  17.50  17.750000
2  2012-10-16 00:00:00-04:00  FANG  17.570000  17.950001  17.25  17.790001
3  2012-10-17 00:00:00-04:00  FANG  17.700001  18.070000  17.50  17.700001
4  2012-10-18 00:00:00-04:00  FANG  17.600000  17.870001  17.52  17.700001

   adj_close   volume
0  15.341787  6467100
1  15.560958   633100
2  15.596025   180300
3  15.517123   121000
4  15.517123   146100
                    datetime name      open      high       low     close  \
0  1981-12-31 00:00:00-05:00  COP  5.161518  5.256808  5.129755  5.145637
1  1982-01-04 00:00:00-05:00  COP  5.097992  5.129755  5.050347  5.066229
2  1982-01-05 00:00:00-05:00  COP  4.939176  5.034466  4.843886  4.875650
3  1982-01-06 00:00:00-05:00  COP  4.843886  5.002702  4.685071  4.780360
4  1982-01-07 00:00:00-05:00  COP  4.732715  4.780360  4.685071  4.732715

   adj_close   volume
0   1.092958  1420670
1   1.076092  2069219
2   1.035612  4173857
3   1.015371  3855878
4   1.005251  1511183
                    datetime name      open      high       low     close  \
0  1972-06-01 00:00:00-04:00   DE  0.000000  2.682292  2.645833  2.677083
1  1972-06-02 00:00:00-04:00   DE  2.677083  2.734375  2.677083  2.729167
2  1972-06-05 00:00:00-04:00   DE  2.723958  2.723958  2.687500  2.718750
3  1972-06-06 00:00:00-04:00   DE  2.718750  2.729167  2.687500  2.692708
4  1972-06-07 00:00:00-04:00   DE  2.677083  2.677083  2.656250  2.661458

   adj_close  volume
0   0.678661  552000
1   0.691865  396000
2   0.689224  242400
3   0.682622  448800
4   0.674701  578400
                    datetime name      open      high       low     close  \
0  1989-10-04 00:00:00-04:00  EOG  2.468750  2.546875  2.437500  2.500000
1  1989-10-05 00:00:00-04:00  EOG  2.515625  2.625000  2.500000  2.578125
2  1989-10-06 00:00:00-04:00  EOG  2.593750  2.625000  2.546875  2.546875
3  1989-10-09 00:00:00-04:00  EOG  2.546875  2.546875  2.500000  2.546875
4  1989-10-10 00:00:00-04:00  EOG  2.562500  2.562500  2.500000  2.531250

   adj_close    volume
0   1.758252  20636000
1   1.813197   6453600
2   1.791220   2755200
3   1.791220   1084000
4   1.780230   1493600
                    datetime name    open    high     low   close  adj_close  \
0  1980-11-18 00:00:00-05:00  PSA  14.125  14.500  14.125  14.125   2.517918
1  1980-11-19 00:00:00-05:00  PSA  14.250  14.625  14.250  14.250   2.540200
2  1980-11-20 00:00:00-05:00  PSA  14.250  14.250  14.125  14.125   2.517918
3  1980-11-21 00:00:00-05:00  PSA  14.625  14.875  14.625  14.625   2.607049
4  1980-11-24 00:00:00-05:00  PSA  14.500  14.500  14.125  14.125   2.517918

   volume
0    3200
1    8000
2   16600
3   18700
4   40900